 <section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="/profilephotos/default-profile.png"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
                <a href="/message/{{user.Username}}" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                Message
              </a>
              <button class="btn btn-outline-dark followbutton" data-mdb-ripple-color="dark" id="bt"
                 
                {{#if followed}}
                    
                  style="z-index: 1;background-color:#000205;color:#ffffff;"
                  onclick="unfollow()" >
                 <span id="followstatus">Followed</span>
                 {{else}}
                  style="z-index: 1;" onclick="follow()">
                 <span id="followstatus">Follow</span>

                 {{/if}}
              
                
              </button>


            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{user.FirstName}} {{user.LastName}}</h5>
              <p><span id="uname">{{user.Username}}</span></p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">{{photocount}}</p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5" id="followerscount">{{followerscount}}</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">{{followingcount}}</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Web Developer</p>
                <p class="font-italic mb-1">Lives in India</p>
                <p class="font-italic mb-0">Photographer</p>
              </div>
            </div>
            <div class="cardsdiv">
              {{#each photos}}
              <div class="carddiv">
                <img src="/photos/{{this._id}}.jpg"
                  class="img">
              </div>
              {{/each}}

          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function follow(){
      let username=document.getElementById('uname').innerHTML
              
       $.ajax({
      url: '/follow',
      data: {
        uname: username
      },
      method: 'post',
      success: (response) => {
        
        if (response.follow) {
          $('.followbutton').css('background-color','#000205')
          $('.followbutton').css('color','#ffffff')
          document.getElementById('followstatus').innerHTML='Followed'
          let count=parseInt(document.getElementById('followerscount').innerHTML)
          document.getElementById('followerscount').innerHTML=count+1
          $('#bt').attr("onclick","unfollow()")

        }
      }

    })
 }
     function unfollow(){
       let username=document.getElementById('uname').innerHTML       
       $.ajax({
      url: '/unfollow',
      data: {
        uname: username
      },
      method: 'post',
      success: (response) => {
        
        if (response.unfollow) {
          $('.followbutton').css('background-color','#ffffff')
          $('.followbutton').css('color','#000205')
          document.getElementById('followstatus').innerHTML='Follow'
          let count=parseInt(document.getElementById('followerscount').innerHTML)
          document.getElementById('followerscount').innerHTML=count-1
          $('#bt').attr("onclick","follow()")

        }
      }

    })
     }
  </script>
</section>